@media only screen and (max-width: 576px) {
  .logosize {
    max-width: 50vw;
  }
}

@media only screen and (min-width: 577px) {
  .logosize {
    max-width: 15vw;
  }
}

.btn-primary,
.active {
  background-color: green !important;
  border-color: green !important;
}

.bg-primary {
  background-color: green !important;
}

.page-link {
  color: green;
}

.primary {
  background-color: greenyellow !important;
}
